$primary-foreground: blue;
$primary-background: yellow;
$colorRed: red;
$colorBlue: blue;
$colorGreen: green;
$colorYellow: yellow;
$colorOrange: orange;
$colorPurple: purple;

body {
  color: $primary-foreground;
}