@inject NavigationManager NavigationManager
@inject ISignalRService SignalRService
<SetModuleAdminNav>
    <p>Hello There </p>    
</SetModuleAdminNav> 

@code {
    protected override async Task OnInitializedAsync()
    {
    
    }    
}
